<section id="destination" class="bg-tertiary" xmlns="http://www.w3.org/1999/html">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <div class="title-section">
          <h2>Destination</h2>
          <span class="underline text-white"></span>
        </div>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-md-6 text-center">
        <%= image_tag "https://kt-wedding.s3.us-west-2.amazonaws.com/lodge.jpg", class: "rounded mt-2 mb-4" %>
        <h3>McKenzie Bridge, OR</h3>
        <p>Surrounded by miles of hiking and mountain biking trails, the wild waters of the McKenzie River and three
          massive waterfalls, McKenzie Bridge is one of Oregon's many gems.</p>
        <p>During your trip you may notice some burn areas. These are wild fire burns from recent years.</p>
        <h3>Things to know!</h3>
        <p>
          We will be in the woods.<br>
          Dress code: Smart Casual.<br>
          Lows in the 40s, highs in the 70s.<br>
          There will be minimal cell receptions.<br>
          There are a handful of restaurants within a few miles of the venue.
        </p>
      </div>
    </div>
  </div>
</section>